
@font-face {  
  font-family: 'GaramondPremrPro';  
  src: url('/data/fonts/GaramondPremrPro-Smbd.otf') format('opentype');  
  font-weight: normal;  
  font-style: normal;  
}  

@font-face {  
  font-family: 'KyokaICAPro';  
  src: url('/data/fonts/GaramondPremrPro-Smbd.otf') format('opentype');  
  font-weight: normal;  
  font-style: normal;  
}  

.display-name {  
  text-align: center;  
  font-size: 24px;  
}  

.display-name-en {  
  font-family: 'GaramondPremrPro', serif;  
}  

.display-name-cn {  
  font-family: 'KyokaICAPro', serif;  
}
